.card__description {
  width: 240px;
  margin: 0;
  padding: 22px 21px 22px 21px;
  background-color: #FFFFFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
