.popup__input {
  width: 358px;
  height: 14px;
  margin: 0 auto;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

@media screen and (max-width: 767px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input::placeholder {
  color: #c4c4c4;
}

.popup__input:focus {
  outline: none;
}

.popup__input:active {
  outline: none;
}